<div class="container">
  <div class="row">
    <img src="assets/LOGOtipografiaSlopebed.png" class="p-5">
  </div>
  <div class="row mt-5">
    <ion-input class="w-100" label="Email" labelPlacement="stacked" placeholder="Enter your mail"></ion-input>
  </div>
  <div class="row">
    <ion-input class="w-100" label="Password" labelPlacement="stacked" placeholder="Enter your Password" type="password"></ion-input>
  </div>
  <div class="row mt-5 text-end">
    <a href="/reeset">Forgot Your Password?</a>
  </div>
  <div class="row mt-5">
    <ion-button (click)="onLogin()">Login</ion-button> 
  </div>
  <div class="row">
    <ion-button fill="outline">New Account</ion-button> 
  </div>
  <div class="row mt-5">
    <ion-button fill="clear">Privacy</ion-button> 
  </div>
</div>