<app-toolbar title="Control"></app-toolbar>
<ion-content [fullscreen]="true">

  <!--<app-explore-container name="Tab 1 page"></app-explore-container>-->
  <div class="row">
    <div class="col">
      <ion-card class="text-center card-animation">
        <app-bed-animation [angle]="angle"></app-bed-animation>
      </ion-card>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <ion-card class="text-center card-angle">
        <ion-card-header>
          <ion-card-title>Bed Angle</ion-card-title>
        </ion-card-header>
        <h3>{{angle}}°</h3>
      </ion-card>
    </div>
  </div>

  <div class="row">
    <div class="col">
        <ion-tab-bar class="button-bar">
          <ion-tab-button (touchstart)="upButton()" (touchend)="onReleaseControlButton()">
            <ion-icon name="chevron-up"></ion-icon>
            <ion-label>Up</ion-label>
          </ion-tab-button>
          <ion-tab-button (touchstart)="zeroButton()">
            <ion-icon name="refresh"></ion-icon>
            <ion-label>Zero Deg.</ion-label>
          </ion-tab-button>
          <ion-tab-button (touchstart)="downButton()" (touchend)="onReleaseControlButton()">
            <ion-icon name="chevron-down"></ion-icon>
            <ion-label>Down</ion-label>
          </ion-tab-button>
        </ion-tab-bar>
    </div>
  </div>

  
  <ion-toast
    [isOpen]="isToastOpen"
    [message]="messageToast"
    [duration]="3000"
    (didDismiss)="showToast(false)"
  ></ion-toast>

</ion-content>
