<app-toolbar title="Control"></app-toolbar>
<ion-content [fullscreen]="true">

  <!--<app-explore-container name="Tab 1 page"></app-explore-container>-->
  <div class="row">
    <div class="col">
      <ion-card class="text-center card-animation">
        <app-bed-animation [angle]="angle"></app-bed-animation>
      </ion-card>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <ion-card class="text-center card-angle">
        <ion-card-header>
          <ion-card-title>Bed Angle</ion-card-title>
        </ion-card-header>
        <h3>{{angle}}°</h3>
      </ion-card>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col">
      <ion-fab-button class="mx-auto" (click)="upButton()">
        <ion-icon name="chevron-up"></ion-icon>
      </ion-fab-button>
    </div>
    <div class="col">
      <ion-fab-button class="mx-auto" (click)="zeroButton()">
        <ion-icon name="bed"></ion-icon>0°
      </ion-fab-button>
    </div>
    <div class="col">
      <ion-fab-button class="mx-auto" (click)="downButton()">
        <ion-icon name="chevron-down"></ion-icon>
      </ion-fab-button>
    </div>
  </div>


</ion-content>
