.card-animation{
    padding-top: 2em;
    padding-bottom: 2em;
    margin-right: 3em;
    margin-left: 3em;
}

.card-angle{
    padding-top: 2em;
    padding-bottom: 2em;
    margin-right: 8em;
    margin-left: 8em;
}