.card-animation{
    padding-top: 2em;
    padding-bottom: 2em;
    margin-right: 1em;
    margin-left: 1em;
}

.card-angle{
    padding-top: 2em;
    padding-bottom: 2em;
    margin-right: 8em;
    margin-left: 8em;
}

.button-bar{
    //width: 100%;
    height: 120px;
    margin-right: 1em;
    margin-left: 1em;
    border-radius: 3px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.25);
}