<div class="bedcontainer">

  <div class="bedcomplete">

    <div class="bedmovile" [style.transform]="rotate">

      <div class="columnscontainer">
        <div class="mattress">
          <div class="bandb">
            <div class="bedsheet"></div>
            <div class="blanket"></div>
          </div>

        </div>
        <div class="linemovilbottom"></div>
      </div>
      
      <div class="linemovil"></div>
      
    </div>
    
    <div class="bedbase">
      <div class="bedcolumn"></div>
      <div class="bedfloorbase"></div>
    </div>

  </div>

</div>